p {
	width: 50%;
}

.sounds-container {
	display: grid;
	width: 50%;
	height: 70%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.sound {
	background-color: firebrick;
	height: 150px;
	text-align: center;
}

.play {
	font-size: 5rem;
	line-height: 150px;
}