.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

img.video-background {
	filter: grayscale(1);
}

h1 {
	font-size: 15rem;
	margin: 0;
	color: red;
}

h1 span {
	cursor: pointer;
}